@import "node_modules/vuetify/src/styles/settings/variables";

$site-bg:                         #fff;
$site-bg-2:                       #f7f6f6;

$brand-primary:                   #1976d2;
$brand-secondary:                 #FFC000;
$brand-gray-2:                    #707070;

$site-min-width:                  320px;
$site-max-width:                  1024px;